.popup__container {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding: 33px 36px 36px 36px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  z-index: 3;
}

@media screen and (max-width: 560px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
    padding: 27px 26px 25px 26px;
  }
}