.popup__button {
  width: 100%;
  min-height: 50px;
  padding: 0;
  margin-top: 35px;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
  transition: .3s;
}

@media screen and (max-width: 560px) {
  .popup__button {
    width: 100%;
    min-height: 46px;
    margin: 30px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}