.popup__button {
  min-width: 358px;
  min-height: 50px;
  padding: 0;
  border: none;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
  transition: .3s;
}

@media screen and (max-width: 560px) {
  .popup__button {
    min-width: 238px;
    min-height: 46px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
  }
}