.profile__subtitle {
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 560px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 31px;
  }
}