.profile__info {
  padding: 0 210px 0 0;
  max-width: 336px;
  min-height: 73px;
  display: flex;
	flex-direction: column;
	gap: 7px 18px;
}

@media screen and (max-width: 930px) {
  .profile__info {
    gap: 0px 0px;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 560px) {
  .profile__info {
    margin: 0;
  }
}