.elements__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 282px));
  grid-template-rows: repeat(2, minmax(350px, 361px));
  grid-gap: 20px 17px;
}

@media screen and (max-width: 930px) {
  .elements__list {
    grid-template-columns: repeat(1, minmax(200px, 282px));
    grid-template-rows: repeat(6, minmax(350px, 361px));
    grid-gap: 20px 0px;
    justify-content: center;
  }
}